body {
  font-family: "Mona Sans", system-ui, -apple-system, sans-serif;
}



.menu {
  margin-left: 50px;
  margin-top: -27px;
  font-size: 17px;
  display: flex;
  gap: 24px;
  align-items: center;
}
.right {
  display: flex;
  align-items: center;
  margin-left: 1050px;
  gap: 15px;
  margin-top: -27px;
} 
.search input {

  width: 300px;
  height: 30px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.qw {
  font-size: 24px;
  color: #ccc;
}
.dashboard button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border: 1px solid #ccc;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}
.headtext .h1{
  font-weight: 800;
  font-size: 62px;
  margin-top: 120px;
  letter-spacing: -0.03em;
  text-align: center;
}

.min_title p {
  font-size: 17px;
  text-align: center;
  margin-left: 230px;
  margin-right: 230px;
  margin-top: 20px;
  color: #4b5263;
}
.free button{
  color: #ffffff;
  border: none;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 8px;
  margin-top: 30px;
  width: 200px;
  height: 50px;
  background-color: #24292f;
  color: #ffffff;


}
.free {
  display: flex;
  align-items: center;      /* по вертикали */
  justify-content: center;  /* по горизонтали */

  height: 48px;
  padding: 0 24px;

  border-radius: 8px;
  border: none;
}

.price-block{
    margin-top: 100px;
    gap: 24px; 
    display: flex;  
    align-items: stretch;
}
.freeblock{
   
    padding: 20px 10px 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.block{
    background: #fff;
    border-radius: 8px;

    border: 2px solid rgba(0, 0, 0, 0.08);
    box-shadow : 
    -10px 30px 30px 10px rgba(0, 0, 0, 0.1),
    10px 30px 30px 10px rgba(0, 0, 0, 0.1);
    width: 390px;
    
    padding-bottom: 0;
    padding-top: 20px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;

    height: 100%;
}
.price-block .freeblock:first-child {
  margin-left: 120px;
}


.price-block .card-content{
    padding: 15px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.frtitle{
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: -0.04em;
    margin: 0;
    color: #000;
}

.frtext{
    margin-top: 8px;
    margin-bottom: 5px;

    text-align: center;
    font-size: 15px;
    font-family: sans-serif;
    color: #6c6c6c;
    
}

.frprice{
    font-size: 15px;
    font-family: sans-serif;
    color: #6c6c6c;

    display: flex;
    margin-top : 20px;
    margin-bottom: 0;
    text-align: center;
    justify-content: center;
    align-items: baseline; 
    gap: 6px;

}

.usd{
    font-size: 25px;
    color: black;
    position: relative;
    top: 9px; 
}

.nol{
    font-size: 45px;
    font-weight:normal;
    letter-spacing: -0.1em;

}

.dollar{
    font-size: 18px;
    font-family: 'Mona Sans',sans-serif;
    position: relative;
    bottom: 5px;
}

.frcreate{
    border-radius: 5px;
    border: 1px #272727 solid;
    border-color: #bfbfbf;

    background-color: #fff;
    
    padding: 15px 25px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 0;
    
    font-size: 15px;
    font-weight: bold;

    transition: border-color 0.2s ease, border 0.2s ease;
}

.frcreate:hover{
    border-color: #272727;
    border: 2px solid;
}

.list{
    background-color: rgb(248, 250, 252);
    padding: 12px 0px;
    width: 100%;
    margin-top: auto;   
    flex-grow: 1;
}

summary {
    display: block;
    width: 100%;
    
    font-size: 15px;
    font-weight: bold;
    font-family: sans-serif;
    color: #4f4f5ecf;
    text-align: left;
    cursor: pointer; 
}

summary::-webkit-details-marker {
    display: none; 
}

summary::before {
    content: "›";
    font-size: 25px;
    font-family: sans-serif;
    color: #505064de;
    padding: 5px 10px;

    display: inline-block;
    transform: rotate(0deg);
    transition: transform 0.2s ease;
}

details[open] summary::before {
    transform: rotate(90deg);
}

details p {
    margin: 8px 0 0 20px;
    color: #5e666f;
    font-size: 15px;
    font-family: sans-serif;
    text-align: left;
}

.summary-title{
    font-size: 15px;
}

.qwe{
    position: relative;
    left:20px;
    font-size: 11px;
    font-weight: normal;
}

.featured{
    text-align: left;
    color: rgba(25, 64, 237, 0.882);

    position: relative;
    left: 20px;
    font-weight: bold;
    font-family: sans-serif;
    font-size: 15px;
}

a{
    color: rgba(25, 64, 237, 0.882);
}

.included {
    position: relative;
    padding-left: 25px;  
    margin: 10px 0;

    color: #57606a;
    font-size: 15px;
    font-family: sans-serif;
    text-align: left;
}

.included::before {
    content: "←";
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    font-size: 16px;
    color: #57606a;
    line-height: 1;
}

.recom{
    background-color: #0062ffcf;
    align-items: stretch;
}

.rectxt{
    color: #ffffff;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;

    margin: 0;
    position: relative;
    bottom: 8px;

    text-align: center;
}

.start {
    margin-bottom: 0;
    border: 1px solid #e0e0e0;
    border-radius: 30px;
    padding: 5px;
    width: 80px;
    font-size: 10px;
    font-family: sans-serif;
    color: #6c6c6c;
    position: relative;
    left: 135px;
}

.twobutton{
    display: flex;
    gap: 8px;
}


.qaz{
    padding: 15px 14px;
    border-radius: 5px;
    border: none;

    width: 180px;

    background: linear-gradient(180deg, #44444c, #272727);
    color: white;
    font-size: 16px;
    font-weight: bold;
    flex-shrink: 0;
    margin-top: 20px;
    cursor: pointer;
}

.zxc{
    border-radius: 5px;
    border: 1px #272727 solid;
    border-color: #bfbfbf;

    background-color: #fff;
    
    padding: 15px 25px;
    width: 180px;
    margin-top: 20px;
    margin-bottom: 0;
    
    font-size: 15px;
    font-weight: bold;

    transition: border-color 0.2s ease, border 0.2s ease;
}

.zxc:hover{
    border-color: #272727;
    border: 2px solid;
}

.additional-title {
  font-size: 62px;
  font-weight: 800;
  padding: 30px;
  text-align: center;
  margin-bottom: 60px;
}


/* Ограничиваем ширину + отступы слева */
.addons {
  padding: 80px 0;
}

.addons-title {
  text-align: center;
  font-size: 48px;
  margin-bottom: 50px;
}

.addons-grid {
  max-width: 1200px;
  margin-top: 50px;   
  margin: 0 auto;      
  padding: 0 24px;     

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}

.addon-card {
  background: #fff;
  border-radius: 14px;
  padding: 28px;
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
  position: relative;
}

.icon {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin-bottom: 16px;
}

.icon.purple { background: #f2e8ff; }
.icon.green  { background: #e6f9ec; }
.icon.blue   { background: #e6f3ff; }

/* NEW */
.badge {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 1px solid #2da44e;
  color: #2da44e;
  padding: 4px 10px;
  border-radius: 999px;
  font-size: 12px;
}

/* ТЕКСТ */
.addon-card h3 {
  font-size: 20px;
  margin-bottom: 8px;
}

.addon-card p {
  color: #57606a;
  line-height: 1.6;
  margin-bottom: 20px;
}

.addon-card a {
  color: #0969da;
  font-weight: 600;
  text-decoration: none;
}
