.left {
    width: 820px;
    float: left;
    background-color: white;
    padding: 20px;
    height: 750px;
    margin-top: -150px;
    
}

.right {
    margin-left: 900px;
    background-color: rgb(255, 255, 255);
    
}
.story {
    margin-bottom: 1px;
    margin-left: 20px;
    height: 35px;
    margin-top: 20px;
}
.story_text {
    font-size: 45px;
    margin-top: 10px;
    margin-left: 70px;
    text-align: center;
}
.story_image {
    text-align: center;
    margin-left: 50px;
}
.text {
    font-size: 17px;
    font-weight: bold;
    font-family: Arial, sans-serif;
    margin-left: 20px;
    margin-top: 150px;
}
.login_input input{
    width: 540px;
    border-radius: 18px;
    height: 65px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 5px;
    margin-top: 10px;
    border: 1px solid #dddfe2;
}
.password_input input{
    width: 540px;
    border-radius: 18px;
    height: 65px;
    margin-left: 20px;
    margin-bottom: 10px;
    font-size: 15px;
    padding: 5px;
    border: 1px solid #dddfe2;
}
.vxod button{
    width: 540px;
    height: 45px;
    background-color: #1877f2;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 15px;
    border-radius: 25px;
    font-weight: bold;
    margin-left: 20px;
    margin-top: 15px;
}

.forgot_password button{
    width: 540px;
    height: 45px;
    background-color: #ffffff;
    border: none;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 15px;
}
.facebook button{
    width: 540px;
    height: 45px;
    background-color: #ffffff;
    border: 1px solid #dddfe2;
    border-radius: 8px;
    color: rgb(0, 0, 0);
    font-size: 15px;
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 15px;
}
.sign_up button {
    width: 540px;
    height: 45px;
    background-color: #ffffff;
    border: 1px solid #1877f2;
    border-radius: 8px;
    color: #1877f2;
    font-size: 15px;
    border-radius: 25px;
    margin-left: 20px;
    margin-top: 15px;
}
.meta_logo {
    margin-left: -20px;
    margin-top: 20px;
    margin-bottom: -50px;
    text-align: center;
}
.vr {
    border-left: 3px solid #dddfe2;
    height: 1000px;
    position: absolute;
    left: 880px;
    top: -200px;
}
.bd {
    color:transparent;
    background-image: linear-gradient(to right, #ff5c00, #ff0069, #d300c5);
    background-clip: text;
}